<% include ../partials/header %>

<div class="container ptb-125">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h3 class="login-heading mb-4 text-center">Edit author</h3>
            <form action="/authors/<%= results[0].id %>?_method=PUT" method="post">
                <% if (errors.length > 0) { %>
                <% for(var i = 0; i < errors.length; i++) { %>
                <div class="alert alert-danger mb-15" role="alert">
                    <%= errors[i].msg %>
                </div>
                <% } %>
                <% } %>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" class="form-control" placeholder="First Name" name="first_name" value="<%if (inputs.length > 0) { %><%= inputs[0].first_name %><% }else{ %><%= results[0].fname %><% } %>"required autofocus>
                        <label for="inputUsername">First Name</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" class="form-control" placeholder="Last Name" name="last_name" value="<%if (inputs.length > 0) { %><%= inputs[0].last_name %><% }else{ %><%= results[0].lname %><% } %>"required>
                        <label for="inputUsername">Last Name</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" class="form-control" placeholder="Age" name="age" value="<%if (inputs.length > 0) { %><%= inputs[0].age %><% }else{ %><%= results[0].age %><% } %>"required>
                        <label for="inputUsername">Age</label>
                    </div>


                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>